*.d
*.gcda
*.gcno
*.la
*.lo
*.o
*.orig
*.patch
*.rej
*.swp
*~
.deps/
.dirstamp
.libs/
.scmversion
CUnit-Memory-Dump.xml
ID
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
ar-lib
compile
config.guess
config.log
config.status
config.sub
configure
core
cscope.out
depcomp
doc/output
install-sh
lib/
libtool
ltmain.sh
m4/*.m4
missing
pkgconfig/libodp*.pc
tags
test-driver
core
.dirstamp
CUnit-Memory-Dump.xml
syscall/build_x86_64
.metabuild
build/
install/
*.tar
*.rpm
artifacts/
.#*
Testing/
long/Testing
.confcache
platform/mppa/include/odp/rpc/c2c.h
platform/mppa/include/odp/rpc/bas.h
platform/mppa/include/odp/rpc/defines.h
platform/mppa/include/odp/rpc/rpc.h
platform/mppa/include/odp/rpc/eth.h
platform/mppa/include/odp/rpc/fp.h
platform/mppa/include/odp/rpc/helpers.h
platform/mppa/include/odp/rpc/api.h
platform/mppa/odp_rpc.c
platform/mppa/include/odp/rpc/vg.h
firmware/common/internal/debug.h
firmware/common/internal/cache.h
firmware/common/internal/atomic.h
firmware/common/fp/
firmware/common/c2c/
firmware/common/eth/
firmware/common/rpc/
firmware/common/vg/
